<h2> 🎦 Introduce new celebrity  🎦</h2>
<form action="/celebrities" method="post">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
    <br>
    <label for="occupation">Occupation: </label>
    <input id="occupation" type="text" name="occupation">
    <br>
    <label for="catchPhrase">Catchphrase: </label>
    <input id="catchPhrase" type="text" name="catchPhrase">
    <br>
    <br>
    <button type="submit" class="submit-btn">Save new celebrity</button>
</form>