<h2> 🎦 Introduce new celebrity  🎦</h2>
<form action="/celebrities" method="post">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
    <br>
    <label for="occupation">Occupation: </label>
    <input id="occupation" type="text" name="occupation">
    <br>
    <label for="catchPhrase">Catchphrase: </label>
    <input id="catchPhrase" type="text" name="catchPhrase">
    <br>
    <label for="movie-select">Appears in: 
        <select name="movies">
      <option disable selected value=""></option>
    
      {{#each movies}}
        <option value="{{this._id}}"> {{this.title}} </option>
      {{/each}}
    </select>
    </label>
    
    <br>
    <br>
    <button type="submit">Save new celebrity 💾</button>
</form>