<h2> 🌱 Introduce new movie 🌱</h2>
<form action="/movies" method="post">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title">
    <br>
    <label for="genre">Genre: </label>
    <input id="genre" type="text" name="genre">
    <br>
    <label for="plot">Plot: </label>
    <input id="plot" type="text" name="plot">
    <br>
    <br>
    <button type="submit">Save new movie 💾</button>
</form>