<h2>🔎 Movie description 🔎</h2>
<h3>{{movieFromDB.title}}</h3>
<h4>Genre: {{movieFromDB.genre}}</h4>
<h4>Plot: "{{movieFromDB.plot}}"</h4>
<h4>Cast: </h4>
<ul>
    {{#each movieFromDB.cast}}
        <li>{{this.name}}</li>
    {{/each}}
</ul>